<!DOCTYPE html>
<html>
  <head>
    <title>选手报名</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="../lib/weui.min.css">
<link rel="stylesheet" href="../css/jquery-weui.css">

  </head>

  <body ontouchstart>
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img src="../demos/images/lghead.jpg" /></div>
      <!--<div class="swiper-slide"><img src="images/swiper-2.jpg" /></div>
      <div class="swiper-slide"><img src="images/swiper-3.jpg" /></div>-->
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <div class="weui-cells__title">
    <span style="color: #bd2c00"> * 注： 中国国籍请填写 中国 外籍选手填写本国家名字</span></div>
  <div class="weui-cells weui-cells_form">

    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">微信名</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="wxm" placeholder="微信名">
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="name" placeholder="姓名">
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd"><label for="" class="weui-label">性别</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" id="sex" type="text" value="" placeholder="性别">
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="tel" id="phone" placeholder="手机号码">
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">国籍</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="gj" placeholder="国籍">
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">身份证号码</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="sfzhm" placeholder="身份证号码">
      </div>
    </div>

<!--    <div class="weui-cell weui-cell_select weui-cell_select-after">-->
<!--      <div class="weui-cell__hd">-->
<!--        <label for="" class="weui-label">组别</label>-->
<!--      </div>-->
<!--      <div class="weui-cell__bd">-->
<!--        <select class="weui-select" name="select">-->
<!--          <option value="0">选择</option>-->
<!--          <option value="25公里">25公里</option>-->
<!--          <option value="50公里">50公里</option>-->
<!--          <option value="100公里">100公里</option>-->
<!--          <option value="133公里">133公里</option>-->
<!--          <option value="176公里">176公里</option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->

    <div class="weui-cell">
      <div class="weui-cell__hd"><label for="" class="weui-label">组别</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" id="zb" type="text" value="" placeholder="组别">
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">紧急联系人</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="jjlxr" placeholder="紧急联系人">
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">紧急联系人电话</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="tel" id="jjlxrdh" placeholder="紧急联系人电话">
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">衣服尺码</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="yfcm" placeholder="衣服尺码">
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">电子邮箱</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" id="email" placeholder="电子邮箱">
      </div>
    </div>

    <div class="weui-cell">
      <div class="weui-cell__hd"><label for="" class="weui-label">比赛</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" id="sportname" type="text" value="" placeholder="比赛">
      </div>
    </div>

    <div class="weui-cells__title">住址</div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <textarea class="weui-textarea" placeholder="请输入文本" rows="3" id="zz"></textarea>
          <div class="weui-textarea-counter"><span></span></div>
        </div>
      </div>
    </div>

  </div>
  <div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">开始报名</a>
  </div>

    <script src="../lib/jquery-2.1.4.js"></script>
<script src="../lib/fastclick.js"></script>

  <script src="../js/vue.min.js"></script>
<script src="../js/jquery-weui.js"></script>

  <script>

    //初始加载方法
    var  sportnames = [{title:"2023雷越野京西古道超级越野赛团报（坤越野）",value:"2023雷越野京西古道超级越野赛团报（坤越野）"}];
    $(function() {
      FastClick.attach(document.body)
      /* var url = '/tb/selectbysport';
           $.ajax({
             type: 'POST',
             url: url,
             dataType: 'json',
             success: function (result) {
               debugger
               sportnames = [{title:"key",value:"value"}];

             },
             error: function () {
               console.log('error submit!!');
               return false;
             }
           });*/

    });
    var zb = "";
    var sex = "";
    var sportname = "";

    $("#sportname").select({
      title: "赛事",
      multi: true,
      min: 1,
      max: 1,
      items: sportnames,
      onChange: function(d) {
        sportname = d.titles;
        console.log(this, d);
      }
    });
    $("#sex").select({
      title: "性别",
      multi: true,
      min: 1,
      max: 1,
      items: [
        {
          title: "女",
          value: '女'
        },
        {
          title: "男",
          value: '男'
        }],
      onChange: function(d) {
        sex = d.titles;
        console.log(this, d);
      }
    });
    $("#zb").select({
      title: "组别",
      multi: true,
      min: 1,
      max: 1,
      items: [
        {
          title: "25公里",
          value: '25公里'
        },
        {
          title: "50公里",
          value: '50公里'
        },
        {
          title: "100公里",
          value: '100公里'
        },
        {
          title: "133公里",
          value: '133公里'
        },
        {
          title: "176公里",
          value: '176公里'
        }],
      onChange: function(d) {
        zb = d.titles;
        console.log(this, d);
      }
    });
    $("#showTooltips").click(function() {

      var phone = $('#phone').val();
      var wxm = $('#wxm').val();
      var name = $('#name').val();
      var gj = $('#gj').val();
      var sfzhm = $('#sfzhm').val();
      var jjlxr = $('#jjlxr').val();
      var jjlxrdh = $('#jjlxrdh').val();
      var yfcm = $('#yfcm').val();
      var email = $('#email').val();
      var zz =$('#zz').val();
      var zzp = /^[1-9]\d{5}(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/;
         if(!phone || !/1[3|4|5|7|8]\d{9}/.test(phone)) $.toptip('请输入手机号或格式不正确');
         else if(!wxm) $.toptip('请填写微信名');
         else if(!name) $.toptip('请填写真实姓名');
         else if(!gj) $.toptip('请填写国籍');
         else if(!jjlxr) $.toptip('请填写紧急联系人');
         else if(!jjlxrdh || !/1[3|4|5|7|8]\d{9}/.test(jjlxrdh)) $.toptip('请填写紧急联系人电话');
         else if(!yfcm) $.toptip('请填写衣服尺码');
         else if(!email) $.toptip('请填写邮箱地址');
         else if(!zb) $.toptip('请填写组别');
         else if(!zz) $.toptip('请填写住址');
         else if(!sex) $.toptip('请填写性别');
         else if(!sportname) $.toptip('请选择赛事');
         else if(phone==jjlxrdh) $.toptip('紧急联系人电话与选手电话相同');
         else if(gj=='中国'){
           if(!sfzhm || !zzp.test(sfzhm)){
             $.toptip('证件号不能为空 或格式不正确');
           }else{
             var d = {
               'phone': phone,
               'wxm': wxm,
               'name': name,
               'gj': gj,
               'sfzhm': sfzhm,
               'jjlxr': jjlxr,
               'jjlxrdh': jjlxrdh,
               'yfcm': yfcm,
               'email': email,
               'zz': zz,
               'zb': zb,
               'sex': sex,
               'sportname': sportname,
             };
             var url = 'http://1.12.238.58:8666/tb/save';
             $.ajax({
               type: 'POST',
               url: url,
               data: d,
               dataType: 'json',
               success: function (result) {
                 if(result=='1'){
                   window.location.href = './msg.html';
                 } else {
                   $.toptip('该用户已经报名不可重复报名');
                 }

               },
               error: function () {
                 console.log('error submit!!');
                 return false;
               }
             });
           }
         } else{
           var d = {
             'phone': tel,
             'wxm': wxm,
             'name': name,
             'gj': gj,
             'sfzhm': sfzhm,
             'jjlxr': jjlxr,
             'jjlxrdh': jjlxrdh,
             'yfcm': yfcm,
             'email': email,
             'zz': zz,
             'zb': zb,
             'sex': sex,
           };
           var url = 'http://1.12.238.58:8666/tb/save';
           $.ajax({
             type: 'POST',
             url: url,
             data: d,
             dataType: 'json',
             success: function (result) {
               if(result=='1'){
                 window.location.href = './msg.html';
               } else {
                 $.toptip('该用户已经报名不可重复报名');
               }

             },
             error: function () {
               console.log('error submit!!');
               return false;
             }
           });
         }

    });
  </script>
  </body>
</html>
