<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>cp点设置助手</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="renderer" content="webkit">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/vue/element-ui.min.css">
<!--    <link rel="stylesheet" th:href="@{https://unpkg.com/element-ui/lib/theme-chalk/index.css}">-->
</head>
<style type="text/css">
                   //图标样式
                .addDelete {
                  position: absolute;
                  top: 10px;
                  right: -25px;
                  display: flex;
                  flex-direction: column;
                  i {
                    font-size: 18px;
                    flex: 1;
                  }
                  .el-icon-circle-plus-outline {
                    color: #2d8cf0;
                  }
                  .el-icon-remove-outline {
                    color: red;
                  }
                }
</style>
<body class="bgimg">
<!--html代码 -->
<div id="app">
    <div class="wrappers">
        <el-row>
            <el-col :span="24"><div style="background-color: #EB8E55;"></div></el-col>
        </el-row><br>
        <el-card class="box-card">
            <div style="text-align:center;">
                <el-form :inline="true"
                        class="demo-form-inline"
                        ref="orRuleForm"
                        :model="orRuleForm">
                    <!--固定字段-->
                    <el-form-item
                            label="比赛开始时间">
                        <el-date-picker
                                v-model="orRuleForm.starttime"
                                type="datetime"
                                placeholder="选择比赛开始日期时间"
                                value-format="yyyy-MM-dd HH:mm:ss">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item
                            label="比赛结束时间">
                        <el-date-picker
                                v-model="orRuleForm.endtime"
                                type="datetime"
                                placeholder="选择比赛结束日期时间"
                                value-format="yyyy-MM-dd HH:mm:ss">
                        </el-date-picker>
                    </el-form-item>
                    <!--循环加载点字段-->
                    <div v-for="(every, index) in orRuleForm.orFormList" :key="index">
                        <el-row>
                            <el-col :span="16"><div class="grid-content bg-purple" style="text-align: right;">
                                <el-form-item
                                        label="补给点名称"
                                        :prop="'orFormList.' + index + '.cpname'">
                                    <el-input v-model="every.cpname"></el-input>
                                </el-form-item>
                                <el-form-item
                                        class="compareClass"
                                        label="关门时间"
                                        :prop="'orFormList.' + index + '.cpendtime'">
                                    <el-date-picker
                                            v-model="every.cpendtime"
                                            type="datetime"
                                            placeholder="该CP点关门时间"
                                            value-format="yyyy-MM-dd HH:mm:ss">
                                    </el-date-picker>
                                </el-form-item>
                            </div></el-col>
                            <el-col :span="8"><div class="grid-content bg-purple-light" style="text-align: left;">
                                <!--增加行减少行按钮-->
                                <div class="addDelete">
                                    <i v-if="index == orRuleForm.orFormList.length - 1"
                                       @click="addOrHanlder"
                                       class="el-icon-circle-plus-outline"
                                    ></i>
                                    <i v-if="index !== orRuleForm.orFormList.length - 1"
                                       @click="deleteOrHandler(every, index)"
                                       class="el-icon-remove-outline"
                                    ></i>
                                </div>
                            </div></el-col>
                        </el-row>
                    </div>
                </el-form>
                <span slot="footer" class="dialog-footer">
                     <el-button type="primary" @click="orSaveHandler">保 存</el-button>
                    <el-button  @click="fh">返 回</el-button>
                 </span>
            </div>
        </el-card>
    </div>
</div>
</body>
<script src="/vue/jquery.min.js"></script>
<script src="/vue/vue.min.js"></script>
<script src="/vue/element-ui.min.js"></script>
<!--<script src="/echarts.js"></script>-->
<script type="text/javascript">
    new Vue({
        el: '#app',
        data() {
            return {
             //定义表单项
 orRuleForm: {
        starttime: "",
        endtime: "",
        orFormList: [
          {
            cpname: "",
            cpendtime: "",
          },
        ],
      },
            };
        },
        //初始化
        mounted: function () {
        },
        //被调用方法
        methods: {

            //表单新增行
    addOrHanlder() {
      let obj = {
        cpname: "",
        cpendtime: "",
      };
      this.orRuleForm.orFormList.push(obj);
    },
    //表单删除行
    deleteOrHandler(every, index) {
      this.orRuleForm.orFormList.splice(index, 1);
    },
    fh () {
    location.href="/cp/tz";
    },
    //保存
    orSaveHandler(){
    var from = this.orRuleForm;
    var list = JSON.stringify(from.orFormList);
    var d = {
                'starttime': from.starttime,
                'endtime': from.endtime,
                'list': list,
            };
            var newthis = this;
            //请求后台
            var url = '/cp/cpset';
            $.ajax({
                type: 'POST',
                url: url,
                data: d,
                dataType: 'json',
                success: function (result) {
                    if (result == 1) {
                        newthis.$message({
                            message: '设置成功',
                            type: 'success'
                        });
                    } else {
                        newthis.$message.error('设置失败');
                        }
                },
                error: function () {
                    console.log('error submit!!');
                    return false;
                }
            });
            console.log('submit!');
            }
    }
        //------------------------------底部
    })
</script>
</html>